{{>header}}

<body>

  <p> Este curso requiere de conocimientos previos </p>
  <p> Este curso no requiere de conocimientos previos</p>
  <p> Este curso no requiere de conocimientos previos</p>
</body>
<br>
<!--{{{vercursosidnombre }}}!--->   
<br>
   <!--{{{verCursos}}}!--->   
{{>footer}}
